{
  "importOrder": [
    "^react$",
    "<THIRD_PARTY_MODULES>",
    "<BUILTIN_MODULES>",
    "^@brifui/(.*)$",
    "",
    "^[./]"
  ],
  "importOrderCaseSensitive": false,
  "importOrderParserPlugins": ["typescript", "jsx", "decorators-legacy"],
  "importOrderTypeScriptVersion": "5.0.0",
  "plugins": [
    "@ianvs/prettier-plugin-sort-imports",
    "prettier-plugin-sort-json"
  ],
  "quoteProps": "as-needed",
  "semi": true,
  "tabWidth": 2,
  "trailingComma": "none"
}
